.custom-style {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: darkslategray;
}

.custom-style p {
  background-image: url('./react-logo.jpg');
  display: block;
  height: 215px;
  width: 300px;
  color: white;
}

.image {
  background-image: url('./image.png');
  height: 848px;
  width: 1200px;
}
